.forecast-item {
  display: flex;
  flex-direction: column;
  margin: 0 5px;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  min-width: 112px;
  height: 185px;
}

.forecast-item:hover {
  border: 1px solid rgba(255, 255, 255);
}

.forecast-item:first-child {
  margin-left: 0;
}

.forecast-item-date {
  font-size: 24px;
}

.forecast-item-time {
  font-size: 20px;
}

.forecast-item-temperature {
  font-size: 50px;
  padding-left: 10px;
  padding-bottom: 5px;
}

.forecast-item-icon {
  filter: brightness(4);
  height: 70px;
  width: 70px;
  position: relative;
  top: -20px;
}
