.error {
   text-align: center;
   color: white;
   font-size: 18px;
   padding-top: 70px;
   height: 250px;
   text-transform: uppercase;
 }
 
 .frown-emoji {
   margin-bottom: 10px;
 }
 