.container {
  width: 1500px;
  height: 800px;
  border-radius: 15px;
  margin-top: 60px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
}

.header-date {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}
