.search-panel {
  height: 100px;
}

.search {
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  color: rgba(255, 255, 255, 0.75);
  height: 50px;
  margin: auto;
  text-align: center;
  border-radius: 10px;
  margin-top: 15px;
  font-size: 18px;
  font-weight: 600;
  width: 100%;
}

.search:hover {
  background-color: rgba(255, 255, 255, 0.3);
  transition: 0.3s;
}

.search:focus {
  outline: none;
  border: none;
  text-transform: uppercase;
}

.search::placeholder {
  color: white;
  text-transform: uppercase;
}

.search:focus::placeholder {
  color: transparent;
}

.bi-search {
  position: relative;
  top: -38px;
  left: 15px;
}
