.date-card {
  font-size: 28px;
  color: white;
}

.date-group {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
}

.week-day {
  margin-right: 10px;
}

.date-group svg {
  margin-right: 10px;
}
